<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

        <title>Historical Analysis</title>
    </head>
    <body>
        <h1>Historical Price Analysis</h1>

        <input type="hidden"  id="stock_data_id" value="{{ stock_data }}">


        <form method="POST">
            
            <label for="duration_dropdown">Select Duration</label>
            <select name="duration_dropdown" id="duration_dropdown">
                <option value="1M" selected> 1M</option>
                <option value="3M"> 3M</option>
                <option value="6M"> 6M</option>
                <option value="1Y"> 1Y</option>
            </select>

            <label for="candle_size_dropdown">Select Candle Size</label>
            <select name="candle_size_dropdown" id="candle_size_dropdown">
                <option value="5min" selected> 5min</option>
                <option value="15min"> 15min</option>
                <option value="1D"> 1D</option>
                <option value="1M"> 1M</option>
            </select>

            <button type="submit">Submit</button>
        </form>

        <div class="ct-chart .ct-perfect-fifth"></div>

        <script>
            var stock_data = document.querySelector('#stock_data_id').value;
            stock_data = stock_data.replace(/'/g, '"');
            stock_data = JSON.parse(stock_data);

            var data = {
                labels: stock_data.labels,
            series: [stock_data.closing]
            };
            new Chartist.Line('.ct-chart', data);
        </script>
    </body>

</html>