<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

        <title>Historical Analysis</title>
    </head>
    <body>
        <h1>Historical Price Analysis</h1>

        <input type="hidden"  id="stock_data_id" value="{{ stock_data }}">

        <div>
            <div>Stock Name : {{ stock_data.symbol }}</div>
            <div>Minimum : {{ stock_data.min }}</div>
            <div>Maximum : {{ stock_data.max }}</div>
            <div>Average : {{ stock_data.average }}</div>
        </div>

        {% include 'form.html' %}

        <div class="ct-chart .ct-perfect-fifth"></div>
        <div class="ct-chart2 .ct-perfect-fifth"></div>
        <div class="ct-chart3 .ct-perfect-fifth"></div>

        <script>
            var stock_data = document.querySelector('#stock_data_id').value;
            stock_data = stock_data.replace(/'/g, '"');
            stock_data = JSON.parse(stock_data);

            var data = {
                labels: stock_data.labels,
                series: [stock_data.closing]
            };
            new Chartist.Line('.ct-chart', data);
            
            var x = [], y = [];
            stock_data.rsi.forEach(element => {
                x.push(70);
                y.push(30);
            });

            var data2 = {
                labels: stock_data.labels,
                series: [x, y, stock_data.rsi]
            };
            new Chartist.Line('.ct-chart2', data2);

            var data3 = {
                labels: stock_data.labels,
                series: [stock_data.ma]
            };
            new Chartist.Line('.ct-chart3', data3);
        </script>
    </body>

</html>