<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Real Time Data</title>
    </head>
    <body>
        <h1>Real Time Stock Data</h1>

        <div class="display" id="display"></div>
        <input type="hidden"  id="data"  value="{{ data }}"/>
        <script>
            var data = document.querySelector('#data').value;
            data = data.replace(/'/g, '"');
            data = JSON.parse(data);
            async function get_new_data(){
                var url = 'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=' + data.stock + '&apikey=HPW3V08L6PT7390N';
                const options = {
                    method: 'GET'
                };

                try {
                    const response = await fetch(url);
                    const result = await response.text();
                    console.log(result)
                    const quote = JSON.parse(result)['Global Quote'];
                    var d = new Date();

                    console.log(quote);

                    document.getElementById("display").innerHTML += `<div> 
                        Price : ${quote['05. price']} <br>
                        Volume : ${quote['06. volume']} <br>
                        Change : ${quote['09. change']} <br>
                        Percent Change : ${quote['10. change percent']} <br>
                        Updated : ${d}<br></div>`
                } catch (error) {
                    console.error(error);
                }

            }
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }
            async function run() {
                while(true){
                    get_new_data();
                    await sleep(20000);
                }   
            }
            run()
            
        </script>
    </body>

</html>